- content_for :github_link do
  Source code available on
  = succeed "." do
    %a{href: "https://github.com/gbchaosmaster/gbchaosmaster"} GitHub

- content_for :copyright do
  Copyright ©2012 Vinny Diehl

- content_for :contact_link do
  = link_to "Contact the Developer", contact_path

.footer

  -# On most screens the footer text will distribute evenly across the bottom.
  -# On phones, it will appear stacked at the bottom.

  .hidden-phone
    .span4.left
      = yield :github_link
    .span4
      = yield :copyright
    .span4.right
      = yield :contact_link

  .visible-phone{align: "center"}
    = yield :github_link
    %br/
    = yield :copyright
    %br/
    = yield :contact_link
