<% content_for :github_link do %>
Source code available on
<a href="https://github.com/gbchaosmaster/gbchaosmaster">GitHub</a>.
<% end %>

<% content_for :copyright do %>
Copyright ©2012 Vinny Diehl
<% end %>

<% content_for :contact_link do %>
<%= link_to "Contact the Developer", contact_path %>
<% end %>

<div class="footer row-fluid">

  <!--
    | On most screens the footer text will distribute evenly across the bottom.
    | On phones, it will appear stacked at the bottom.
   -->

  <div class="hidden-phone">
    <div class="span4 left">
      <%= yield :github_link %>
    </div>
    <div class="span4">
      <%= yield :copyright %>
    </div>
    <div class="span4 right">
      <%= yield :contact_link %>
    </div>
  </div>

  <div class="visible-phone" align="center">
    <%= yield :github_link %>
    <br />
    <%= yield :copyright %>
    <br />
    <%= yield :contact_link %>
  </div>

</div>
