<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="btn btn-navbar" data-toggle="collapse"
                                data-target=".nav-collapse">
        <% 3.times do %><span class="icon-bar"></span><% end %>
      </a>

      <%= link_to "gbchaosmaster", root_path, class: "brand" %>

      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <%= nav_link "Home", root_path %>

          <!-- Projects Dropdown -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Projects <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <%= nav_link "Projects Home", projects_path %>

              <li class="divider"></li>

              <li class="nav-header">Applications</li>
              <%= nav_link "NDS Toolkit", projects_ndstoolkit_path %>

              <li class="divider"></li>

              <li class="nav-header">Libraries</li>
              <%= nav_link "Nutella", projects_nutella_path %>
            </ul>
          </li>

          <%= nav_link "About", about_path %>
        </ul>
      </div>

    </div>
  </div>
</div>
