<%= render "layouts/application/apology" -%>

<!DOCTYPE html>

<html>
  <head>
    <title><%= page_title(yield :title) %></title>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

    <!-- Responsive page width on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= render "layouts/application/shim" %>
  </head>
  <body>
    <%= render "layouts/application/nav" %>
    <div class="container-fluid">
      <div class="row-fluid">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      <%= render "layouts/application/footer" %>
    </div>
  </body>
</html>
