!!! 5

%html
  %head
    %title= page_title(yield :title)

    = stylesheet_link_tag "application", media: "all"
    = controller_specific_stylesheet
    = javascript_include_tag "application"

    = csrf_meta_tags

    -# Responsive page width on mobile devices
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}/

    = render "layouts/application/shim"

  %body
    = render "layouts/application/nav"
    .container-fluid
      .row-fluid
        -# The main yielded content is rendered here.
        = content_for?(:content) ? yield(:content) : yield
      .row-fluid
        = render "layouts/application/footer"
